<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">

<dom-module id="login-liz">
  <template>
    <style>
      :host {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: italic;
        }
        :host h1{
        color: #448aff;
        font-weight: bold;
        }
        :host input{
        border-radius: 0.5em;
        border: 2px solid #448aff;
        cursor: pointer;
        width: 22em;
        height: 1.9em;
        }
        :host .error{
        border: 2px solid red;
        }
        :host .ok{
        border: 2px solid green;
        }
        :host .txt{
        text-align: left;
        margin-left: 11em;
        margin-bottom: 1em;
        margin-top: 1em;
        font-weight: bold;
        }
        :host .btn{
        border-radius: 0.5em;
        border: 2px solid #448aff;
        background: #448aff;
        color: white;
        font-size: 14px;
        width: 22em;
        height: 1.9em;
        cursor: pointer;
        }
        button:hover{
        background: white;
        border: 2px solid #448aff;
        color: #448aff;
        }
        .marg-16{
        margin-top: 1em;
        }
        .card{
        margin: 20px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border-radius: 0.5em;
        padding: 20px;
        text-align: center;
        }

    </style>
    <form action="#" method="POST" id="myForm" name="myForm" on-submit="validaus" > 
      <div class=" card ">
        <h1>Inicia sesión</h1>
        <div class="txt">
          <span>Usuario:</span>
        </div>
        <div>
          <input type="text" name="user" id="user" maxlength="10" placeholder="Inserta tu usuario">
        </div>
        <div class="txt">
          <span>Contraseña:</span>
        </div>
        <div class="marg-16">
          <input type="password" name="pass" id="pass" maxlength="8" placeholder="Inserta tu contraseña">
        </div>
        <div class="marg-16">
          <input type="submit" class="btn" value="Iniciar sesión"></input>
        </div>
      </div>
    </form>
  </template>

  <script>
    /**
     * `login-liz`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginLiz extends Polymer.Element {
      static get is() { return 'login-liz'; }
      static get properties() {
        return {
          user: {
          type: String,
          value:''
          },
          pass: {
          type: String,
          value: ''
          },
          prop1: {
          type: Boolean,
          value: "false",
          notify:true
          }
        };
      }
      validaus(event){
        event.preventDefault();

        var usuario = event.target.user.value;
        var pass = event.target.pass.value;

        if(usuario != 'liz'){
          alert("Usuario o contraseña incorrectos");
          event.target.user.setAttribute("class", "error");
          return false;
        }
        else{
          event.target.user.setAttribute("class", "ok");
        }
        if(usuario == '' && pass == ''){
          alert("Usuario y contraseña necesarios");
          event.target.user.setAttribute("class", "error");
          event.target.pass.setAttribute("class", "error");
          return false;
        }
        if(pass.length < 6){
          alert("contraseña muy corta");
          event.target.pass.setAttribute("class", "error");
          return false;
        }
        if(pass.length > 8){
          alert("contraseña muy grande");
          event.target.pass.setAttribute("class", "error");
          return false;
        }
        else{
          alert("Sesión iniciada");
          event.target.user.setAttribute("class", "ok");
          event.target.pass.setAttribute("class", "ok");
          this.set('prop1',true);
        }
      }


    }

    window.customElements.define(LoginLiz.is, LoginLiz);
  </script>
</dom-module>
